// Цвета
$mainColor: #0079bf;
$headerFooterColor: #0067a3;
$white: #fff;
$black: #000;
$addCardColor: #5e6c84;
$blockColor: #ebecf0;

// Шрифты
$mainFont: "Roboto";
$mainFontSize: 1.125rem;
$menuFontSize: 0.875rem;
$headerFontSize: 1.75rem;
$taskTitleFontSize: 1.5rem;
